.login-form {
  display: flex;
  flex-direction: column;
}

.login-inp {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 10px;
}

nav {
  position: fixed;
  top: 10px;
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bababa;
  box-shadow: 11px 11px 22px #888888, -11px -11px 22px #ececec;
  z-index: 3;
}

.logo-nav {
  margin-left: 50px;
  margin-right: auto;
}

.link-cont {
  margin-right: 15px;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
.link-cont a {
  padding: 6px 10px;
  border-radius: 8px;
  background: #bababa;
  box-shadow: inset 6px 6px 12px #888888, inset -6px -6px 12px #ececec;
}
.users-cont {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repo-desc {
  font-size: 10px;
}
.username {
  margin-top: 15px;
  margin-bottom: 5px;
}

.repo-lang-span {
  color: orangered;
  font-size: 14px;
  margin-bottom: 5px;
}
.name-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repo-owner {
  color: lightpink;
  margin-bottom: 5px;
  cursor: pointer;
}
.avatar-img {
  width: 50%;
  mix-blend-mode: multiply;
}

.clone-url-inp {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: 5px;
}

.view-ongit-a {
  margin-bottom: 10px;
}

/* ///// */

.user-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 10px;
  margin-bottom: 40px;
  flex-direction: column;
  border-radius: 19px;
  background: #bababa;
  box-shadow: 11px 11px 22px #888888, -11px -11px 22px #ececec;
}

.user-avatar {
  width: 70%;
  mix-blend-mode: multiply;
}
.username {
  margin-top: 15px;
  margin-bottom: 5px;
}
.user-profile-main-cont {
  padding: 20px;
  margin-top: 55px;
  border-radius: 19px;
  background: #bababa;
  box-shadow: 11px 11px 22px #888888, -11px -11px 22px #ececec;
}
@media only screen and (max-width: 768px) {
  .user-card-cont {
    width: 100%;
  }
}

/* ///// */

.top-cont {
  display: flex;
  padding: 20px;
  margin-top: 55px;
  border-radius: 19px;
  background: #bababa;
  box-shadow: 11px 11px 22px #888888, -11px -11px 22px #ececec;
}

.user-avatar-img {
  width: 30%;
  mix-blend-mode: multiply;
}
.name-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-cont {
  flex: 1;
  border-top: 1px solid lightgray;
  margin-top: 10px;
}

.follow-cont {
  white-space: nowrap;
}
.followers {
  margin-right: 10px;
  margin-left: 20px;
}
